.container-grid-ranking {
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 8rem 3rem 10rem auto;
  row-gap: 1.5rem;
  overflow-y: auto;
  padding: 2rem;
  width: 100%;
}

.container-grid-ranking > div > img {
  border-radius: 100%;
}

.container-grid-ranking > div > p,
.container-grid-ranking > div > span {
  color: #fff;
  font-size: 1.5rem;
}

.content-grid-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
  padding: 0 2rem;
}

.container-btns {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  width: 100%;
}

.container-btns-right {
  display: flex;
  gap: 3rem;
}
